
html, body {
    background-color: #21252b;
    color: #abb2bf;
}
#menu {
    border-bottom-color: #333841;
}

.sub-menu {
    background-color: #21252b;
    border-color: #333841;
}

#mainplane {
    background-color: #282c34;
}

#editorlibrary {
    border-left-color: #333841;
}

.editornavzoom {
    background-color: #a0a7b4;
    border-color: #464c55;
}